/* Default to light theme */
:root,
:root.light {
    /* Light theme colors */
    --background-color: #ffffff;
    --border-color: #dddddd;
    --header-bg-color: #f2f2f2;
    --error-0-color: #f8d7da;
    --error-2-color: #e6f7f0;
    --error-3-color: #f6f7e6;
    --error-4-color: #f6f7e6;
}

:root.dark {
    /* Dark theme colors */
    --background-color: #333333;
    --border-color: #555555;
    --header-bg-color: #444444;
    --error-0-color: #993333;
    --error-2-color: #225555;
    --error-3-color: #555522;
    --error-4-color: #554422;
}


body {
  background: var(--background-color);
}






/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--background);
}
th,
td {
    border: 1px solid var(--border);
    text-align: left;
    padding: 8px;
}
th {
    background-color: var(--header-bg);
}

/* HTTP error classes */
.http-error-0 {
    background-color: var(--error-0);
}
[class^="http-error-2"],
[class*=" http-error-2"] {
    background-color: var(--error-2);
}
[class^="http-error-3"],
[class*=" http-error-3"] {
    background-color: var(--error-3);
}
[class^="http-error-4"],
[class*=" http-error-4"] {
    background-color: var(--error-4);
}

/* Other classes */
.rangeslider-slidebox {
    stroke: var(--border);
    stroke-width: 1px;
}

.legend {
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
}
