/* Default to light theme */
:root,
:root.light {
    /* Light theme colors */
    --background-color: #ffffff;
    --border-color: #dddddd;
    --header-bg-color: #f2f2f2;
    --error-0-color: #f8d7da;
    --error-2-color: #e6f7f0;
    --error-3-color: #f6f7e6;
    --error-4-color: #f6f7e6;
}

:root.dark {
    /* Dark theme colors */
    --background-color: #333333;
    --border-color: #555555;
    --header-bg-color: #444444;
    --error-0-color: #993333;
    --error-2-color: #225555;
    --error-3-color: #555522;
    --error-4-color: #554422;
}


body {
  background: var(--background-color);
}




table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

/* CSS formatting for specific classes */

.alias {
    /* Bold text */
    font-weight: bold;
}

.desc {
    /* Cursive */
    font-style: italic;
}

.code {
    /* Mono */
    font-family: monospace;
}

.http-error-0 {
    background-color: #f8d7da; /* Light red for HTTP 0 */
}

[class^="http-error-2"],
[class*=" http-error-2"] {
    background-color: #e6f7f0; /* Light blue for HTTP 200 */
}

[class^="http-error-4"],
[class*=" http-error-4"] {
    background-color: #f6f7e6; /* Light red for HTTP 400s */
}

[class^="http-error-3"],
[class*=" http-error-3"] {
    background-color: #f6f7e6; /* Light yellow for HTTP 300s */
}

.rangeslider-slidebox {
    stroke: gray;
    stroke-width: 1px;
}

.legend {
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
}


@media not all and (pointer: coarse) {
    :root {
        --is-touch-device: 0;
    }
}

@media (pointer: coarse) {
	    :root {
        --is-touch-device: 1;
    }
    .rangeslider-container {
        pointer-events: none;
    }
    .rangeslider-grabber-min,
    .rangeslider-grabber-max {
        display: none;
    }
}
